body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #EEE;
}
.form-signin {
    max-width: 30%;
    padding: 15px;
    margin: 0px auto;
}

.form-signin .form-signin-heading, .form-signin {
    margin-bottom: 10px;
}

.form-signin-heading{
    text-align: center;
}

.form-signin input[type="text"] {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

a button{
    margin-top: 10px;
}
